@import '../../../sass/variables';

.detalles {
    width: 100%;
    height: 25vh;
    padding: 0% 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        font-weight: bold;

        & span {
            color: $morado;
        }
    }

    &_subtitle {
        font-weight: 600;
        margin-bottom: 3rem;

        &-1 {
            color: $morado;
        }

        &-2 {
            color: $verde;
        }
        
        &-3 {
            color: $rosa;
        }
    }

    &_parrafo {
        font-weight: normal;
        margin-bottom: 4rem;
        font-size: 1.4rem;

        & span {
            font-weight: bold;
        }
    }
}