.buttonB {
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: 18rem;
    font-size: 1.7rem;
    color: #ccc;
    background-color: white;
    transition: all .2s ease-in-out;
    border: 1.5px solid transparent;

    &:hover {
        background-color: whitesmoke;
        color: black;
    }

    // &:visited,&:active {
    //     background-color: black;
    //     color: white;
    //     border: 1.5px solid pink;
    // }
}

.isActive {
    background-color: black;
    color: white;
    border: 1.5px solid pink;

    &:hover {
        background-color: rgb(15, 15, 15);
        color: white;

    }
}